@import "reset.css";
@import "grid.css";
@import "articles.css";

/*@media only screen and (min-width: 799px) {*/
/*.col {*/
/*width: 50%;*/
/*}*/
/*}*/
/*#38474a*/
.divContent {
    background-image: url(../img/logo.jpg);
}

img {
    height: auto;
    width: 100%;
}

.row:after {
    content: '.';
    display: block;
    height: 0px;
    visibility: hidden;
    clear: both;

}

[class*=col-] {
    float: left;
    padding: 0 10px;
}

@media only screen and (max-width:599px ) {
    [class*=col-] {
        float: none;
        width: 100%;
    }
    .album-photo{
        display:none;
    }
}

@media only screen and (min-width:600px) and (max-width: 1199px) {
    .album-photo{
        display:none;
    }
}

@media only screen and (min-width:1200px ) {

}

.album-photo{

    display:none;
}